.login{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginWrapper{
    width: 70%;
    height: 70%;
    background-color: rgb(231, 210, 250);
    display: flex;
    justify-content: space-around;
}